:root {
  --color-primary: red;
}

body {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  text-shadow: -1px -1px 0 white;
}

* {
  transition: 0.1s ease;
}

a {
  color: inherit;
  font-weight: bold;
  padding: 0 5px 2px;
  margin-left: -5px;

  &:hover,
  &:focus {
    color: var(--color-primary);
    text-decoration: none;
    background: white;
  }
}
