@use "./normalize";
@use "./typography";
@use "./grid";
@use "./buttons";
@use "./forms";
@use "./charts";
@use "./breakpoints" as *;

/* Global CSS Variables */
:root {
  --header-height: 6rem;
  --z-background: 0;
  --z-default: 1;
  --z-foreground: 2;

  --blue: #1e90ff;
  --pink: #ff26b7;
}

/* Global site styles */
* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  background-color: #141414;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: var(--header-height) 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
}

hr {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}
