:root {
  --foreground: #333;
  --foreground-darker: #111;
  --mid: #999;
  --background-lighter: #eee;
  --background: #ddd;
  --highlight: #fff;
  --primary: red;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground: #ddd;
//     --background: #222;
//     --highlight: #000;
//   }
// }

* {
  box-sizing: border-box;
  transition: 0.1s ease;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.2s ease;
}

#__layout {
  min-height: 100vh;
  border-right: 1px solid var(--foreground);
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: var(--background);

  &:hover {
    background: var(--highlight);
  }
}
::-webkit-scrollbar-thumb {
  background: var(--foreground);
  transition: 0.3s ease;

  &:hover {
    background: var(--primary);
  }
}

a {
  color: inherit;
  font-weight: bold;
  padding: 0 5px 2px;
  margin: auto -5px;
  background: var(--highlight);
  background: linear-gradient(
    to right,
    var(--highlight) 50%,
    var(--background) 50%
  );
  background-size: 201% 100%;
  background-position: 100% bottom;
  transition: background-position 0.2s ease;

  &:hover,
  &:focus {
    color: var(--primary);
    text-decoration: none;
    background-position: left bottom;
  }
}

hr {
  height: 1px;
  background: var(--foreground);
  border: 0;
  border-bottom: 1px solid var(--highlight);
}

sup {
  font-size: 0.6em;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.image-button {
  padding: 0;
  border-radius: 0;
  border: 1px solid var(--foreground);

  &:hover,
  &:focus {
    border: 1px solid var(--primary);
  }
}

.modal-content {
  border-radius: 0;
  border: 1px solid var(--foreground);
}
.modal-body {
  padding: 0;
}
.modal-header {
  padding: 0.5rem;
  background: var(--background);

  button {
    color: var(--foreground);
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  background: var(--highlight);
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  p, a {
    font-size: 1em;
  }

  .small, sup {
    font-size: .9em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  sup {
    vertical-align: baseline-middle;
    vertical-align: -webkit-baseline-middle;
  }

  .mobile-no-pad {
    padding: 0;
  }
}