@use "./normalize";
@use "./typography";
@use "./grid";

/* Global CSS Variables */
:root {
  --header-height: 6rem;
  --z-background: 0;
  --z-default: 1;
  --z-foreground: 2;

  --blue: #1e90ff;
  --pink: #ff26b7;
}

/* Global site styles */
* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  background-color: #202020;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-top: var(--header-height);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
